@{
    ViewBag.Title = "Home Page";
}

<style>
    .chosen-container {
        /* This is the only width setting you'll need to change. */
        width: 70px !important;
        padding-bottom:5px !important;
    }

        .chosen-container .chzn-drop {
            width: 70px !important;
        }

            .chosen-container .chzn-drop .chzn-search {
                width: 98% !important;
            }

                .chosen-container .chzn-drop .chzn-search input {
                    width: 98% !important;
                }
</style>

<style>
    .multiselect {
        position: center;
        display:inline-block;
        max-width:70px;
        text-align:center;  
        margin-bottom:2px;
    }

</style>



<div class="form-group" style="position:center;margin-left:20%;margin-left:20%">    
    <div style="margin-bottom: 10px;position:center">
        <label style="margin-right:5px;">Polazni aerodrom:</label>
        <select class="chosen-container Airport" style="display: inline-block;" id="departurePicker"></select>

        <label style="margin-left:10px;margin-right:5px;">Polazak:</label>
        <input type="text" name="departureDatePicker" id="departureDatePicker" class="form-control singleDatePickers" style="width:110px;height:25px;display:inline-block" />


        <label style="margin-right:5px;margin-left:10px;">Odredišni aerodrom:</label>
        <select class="chosen-container Airport" style="display:inline-block;margin-left:10px;" id="destinationPicker"></select>


        <label style="margin-left:10px;margin-right:5px;">Povratak:</label>
        <input type="text" name="destinationDatePicker" id="destinationDatePicker" class="form-control singleDatePickers" style="width:110px;height:25px;display:inline-block" />

        <label for="passagerNumberPicker" style="display:inline-block;margin-right:5px;margin-left:10px;">Putnici:</label>
        <input type="text" style="width:50px;height:25px;display:inline-block;text-align:center;" id="passagerNumberPicker" class="form-control numbers" />

        <label for="currencyPicker" style="margin-left: 10px; margin-right: 5px; display: inline-block">Valuta:</label>
        <select type="text" id="currencyPicker" style="padding-right:10px;" class="form-control multiselect">
            <option id="1">USD</option>
            <option id="2">EUR</option>
            <option id="3">HRK</option>
        </select>
        <div style="padding-bottom:10px;padding-left:10px;display:inline-block">
            <button style=" width: 80px; height: 25px; padding: 0px;" type="submit" class="btn navbar-btn btn-primary" name="search" id="search">Pretraži</button>
        </div>
    </div>   
</div>
<hr />
<div id="resultTable">
   
</div>


<script>
    (function ($) {  
        $(function () {
            UpdateElements();
            $("#currencyPicker").multiselect();
            $('#mainDiv').removeAttr("hidden");
        });      
    })(jQuery);
</script>

<script>
    function UpdateElements() {
        UpdateAirports();
        UpdateDateRangePicker();
        $('#loadingGIF').hide();        
    }
</script>

<script>
    jQuery('.numbers').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });
</script>


<script>
    function UpdateAirports() {
        var deferred = $.Deferred();
        var airportPicker = document.getElementsByClassName("Airport");
         $.ajax({
            url: '@Url.Action("GetCodes", "Home")',
             type: "GET",
             async: false,
             dataType: "json",
             contentType: "application/json;charset=utf-8",
             success: function (result) {
                 var codes = result.list;
                 jQuery.each(airportPicker, function (ID, picker) {
                     $(picker).append($('<option value=""></option>'));  
                     jQuery.each(codes, function (ID, code) {
                         $(picker).append($("<option  id=" + code + " value=" + ID + 1 + ">"+code+"</option>"));                 
                     });
                     $(picker).chosen({
                         placeholder_text_single: "...",
                         no_results_text: 'Ne postoje podaci za '
                     });
                 }); 
                 deferred.resolve();
             },
             error: function () {
                deferred.resolve(false);
                alert("Nije moguće očitati IATA kodove.");
             }
         });
        return deferred;
    }
</script>

<script>
    function UpdateDateRangePicker() {
        var deferred = $.Deferred();
        var pickers = document.getElementsByClassName("singleDatePickers");
        jQuery.each(pickers, function (ID, picker) {
            $(picker).daterangepicker({
                singleDatePicker: true,
                locale: {
                    //format: 'DD.MM.YYYY.',
                    format: 'YYYY-MM-DD',
                    daysOfWeek: ["Ned", "Pon", "Uto",
                        "Sri", "Čet", "Pet", "Sub"],
                    monthNames: ["Siječanj", "Veljača", "Ožujak", "Travanj", "Svibanj", "Lipanj", "Srpanj", "Kolovoz", "Rujan", "Listopad", "Studeni", "Prosinac"]
                },
                changeYear: true,
                changeMonth: true
            });
        });
        deferred.resolve();
        return deferred;
    }
</script>

<script>
    $('.Airport').change(function (event) {
        var picker = event.target.id;
        var optionID = event.target.value;
        //var selectedValue = $("option:selected", this).attr("id");
        if (picker == "departurePicker") {
            jQuery.each($('#destinationPicker option:disabled'), function (ID, option) {
                $('#destinationPicker option[id=' + option.id + ']').prop("disabled", false);
                $('#destinationPicker').trigger("chosen:updated");
            });
            $('#destinationPicker option[value=' + optionID + ']').prop("disabled", true);
            $('#destinationPicker').trigger("chosen:updated");
        }
        else if (picker == "destinationPicker") {
            jQuery.each($('#departurePicker option:disabled'), function (ID, picker) {
                $('#departurePicker option[id=' + option.id + ']').prop("disabled", false);
                $('#departurePicker').trigger("chosen:updated");
            });
            $('#departurePicker option[value=' + optionID + ']').prop("disabled", true);
            $('#departurePicker').trigger("chosen:updated");
        }
    });
</script>

<script>
    function Authorization() {
        $.ajax({
            type: "POST",
            url: "https://test.api.amadeus.com/v1/security/oauth2/token",
            async: true,
            data: {
                client_id: 'ziNgGPngYI6YlCGOeCotNmrmtc3qgQ9u',
                client_secret: '6qhAhXXbPYA2sbkR',
                grant_type: 'client_credentials'
            },
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                GetData(result.access_token);
            },
            error: function (error) {
                alert("Greška u autorizaciji.")
            }
        });
    }
</script>



<script>  
    $('#search').click(function (e) {
        Authorization();
        $('#resultTable').hide();
        $('#loadingGIF').show();
    });
</script>

<script>
    function GetData(amadeusAccessToken) {
        $.ajax({
            async: true,
            type: "GET",
            dataType:'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + amadeusAccessToken);
            },
            url: "https://test.api.amadeus.com/v2/shopping/flight-offers?" +
                $.param({
                    originLocationCode: $('#departurePicker option:selected').text(),
                    destinationLocationCode: $('#destinationPicker option:selected').text(),
                    departureDate: $('#departureDatePicker').val(),
                    returnDate: $('#destinationDatePicker').val(),
                    currencyCode: $('#currencyPicker').val(),
                    adults: $('#passagerNumberPicker').val(),
                    max: 10,
                            
                }),
            success: function (jsonResult) {

                //download JSON file
                //DownloadJSON(jsonResult);
                
                var flightData = new Array();
                /*for (var i = 0; i < jsonResult.data.length; i++) {
                    var brojLetova = jsonResult.data[i].itineraries.length;
                    var departureTime = jsonResult.data[i].itineraries[0].segments[0].departure.at.split('T').pop();
                    var destinationTime = jsonResult.data[i].itineraries[1].segments[0].departure.at.split('T').pop();
                    debugger;
                    var flight = {
                        departureAirport: $('#departurePicker option:selected').text(),
                        departureDate: $('#departureDatePicker').val() + " " + departureTime,
                        destinationAirport: $('#destinationPicker option:selected').text(),
                        returnDate: $('#destinationDatePicker').val() +" " + destinationTime,
                        transferNumberDeparture: jsonResult.data[i].itineraries[0].segments.length-1,
                        transferNumberArrival: jsonResult.data[i].itineraries[1].segments.length-1,
                        passagers: $('#passagerNumberPicker').val(),//flightRecord.numberOfBookableSeats,
                        currency: $('#currencyPicker').val(),
                        totalCost: parseFloat(jsonResult.data[i].price.total)
                    };
                    flightData.push(flight);
                }*/
                jQuery.each(jsonResult.data, function (ID, flightRecord) {
                    //var departureDateTime = flightRecord.itineraries[0].segments[0].departure.at.split('T');
                    //var destinationDateTime = flightRecord.itineraries[1].segments[0].departure.at.split('T');
                    /*var departureAirport = flightRecord.itineraries[0].segments[0].departure.iataCode;
                    var destinationAirport = flightRecord.itineraries[1].segments[0].departure.iataCode;
                    var departureDateTime = flightRecord.itineraries[0].segments[0].departure.at.split('T');
                    var destinationDateTime = flightRecord.itineraries[1].segments[0].departure.at.split('T');
                    var transferNumberDeparture = flightRecord.itineraries[0].segments.length - 1;
                    var transferNumberArrival = flightRecord.itineraries[1].segments.length - 1;
                    var currency = flightRecord.price.currency;
                    var totalCost = flightRecord.price.grandTotal;
                    var passagers = flightRecord.travelerPricings.length;*/
                    //var x1 = new Date(Date.parse(flightRecord.itineraries[0].segments[0].departure.at)).toString();
                    //var x2 = new Date(Date.parse(flightRecord.itineraries[1].segments[0].departure.at)).toString();
                    flightData.push({
                        departureAirport: flightRecord.itineraries[0].segments[0].departure.iataCode,
                        destinationAirport: flightRecord.itineraries[1].segments[0].departure.iataCode,
                        departureDateTime: new Date(Date.parse(flightRecord.itineraries[0].segments[0].departure.at)).toString(),
                        destinationDateTime: new Date(Date.parse(flightRecord.itineraries[1].segments[0].departure.at)).toString(),
                        transferNumberDeparture: flightRecord.itineraries[0].segments.length - 1,
                        transferNumberArrival: flightRecord.itineraries[1].segments.length - 1,
                        currency: flightRecord.price.currency,
                        totalCost: parseFloat(flightRecord.price.grandTotal),
                        passagers: flightRecord.travelerPricings.length
                    });
                    //var departureTime = flightRecord.itineraries[0].segments[0].departure.at.split('T').pop();
                    //var destinationTime = flightRecord.itineraries[1].segments[0].departure.at.split('T').pop();
                    /*var flight = {
                        departureAirport: $('#departurePicker option:selected').text(),
                        departureDate: $('#departureDatePicker').val() + " " + departureTime,
                        destinationAirport: $('#destinationPicker option:selected').text(),
                        returnDate: $('#destinationDatePicker').val() + " " + destinationTime,
                        transferNumberDeparture: flightRecord.itineraries[0].segments.length-1,
                        transferNumberArrival: flightRecord.itineraries[1].segments.length-1,
                        passagers: $('#passagerNumberPicker').val(),//flightRecord.numberOfBookableSeats,
                        currency: $('#currencyPicker').val(),
                        totalCost: parseFloat(flightRecord.price.total)
                    };
                    flightData.push(flight);*/
                });
                ShowData(flightData);
                
            },
            error: function (e) {
                alert("Nije moguće filtrirati po zadanim parametrima.");
            }
        });
    }
</script>

<script>
    function DownloadJSON(jsonResult) {
        const filename = 'data.json';
        const jsonStr = JSON.stringify(jsonResult.data);
        let element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(jsonStr));
        element.setAttribute('download', filename);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }
</script>

<script>
    function ShowData(flightData) {
        $.ajax({
            url: '@Url.Action("FilterData", "Home")',
            type: "POST",
            async: true,
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ flightList: flightData }),
            success: function (flightView) {
                debugger;
                $('#resultTable').html(flightView);
                $('#loadingGIF').hide();
                $('#resultTable').show();
            },
            error: function (e) {
                alert("Dogodila se greška tokom prikaza podataka.");
            }
        });
    }
</script>

