@{
    ViewBag.Title = "Home Page";
}

<style>
    .btn-group {
        width: 80px;
        min-height: 25px;
        padding-bottom: 2px;
    }

    .chosen-container {
        width: 120px !important;
        padding-bottom: 5px !important;
    }

        .chosen-container .chzn-drop {
            width: 120px !important;
        }

            .chosen-container .chzn-drop .chzn-search {
                width: 98% !important;
            }

                .chosen-container .chzn-drop .chzn-search input {
                    width: 98% !important;
                }
</style>

<div class="form-group" style="position:center;">
    <div style="margin-bottom: 10px;position:center;display:inline-block">

        <label style="margin-right:5px;">Polazni aerodrom:</label>
        <select class="chosen-container  Airport" style="display: inline-block;" id="departurePicker"></select>

        <label style="margin-left:10px;margin-right:5px;">Polazak:</label>
        <input type="text" name="departureDatePicker" id="departureDatePicker" class="form-control singleDatePickers" style="width:120px;height:30px;display:inline-block;text-align:center" />


        <label style="margin-right:5px;margin-left:10px;">Odredišni aerodrom:</label>
        <select class="chosen-container Airport" style="display:inline-block;margin-left:10px;" id="destinationPicker"></select>


        <label style="margin-left:10px;margin-right:5px;">Povratak:</label>
        <input type="text" name="destinationDatePicker" id="destinationDatePicker" class="form-control singleDatePickers" style="width:120px;height:30px;display:inline-block;text-align:center" />

        <label for="currencyPicker" style="margin-left:5px; display:inline-block">Valuta:</label>
        <select type="submit" id="currencyPicker" style="display:inline-block;padding-bottom:10px; width:20px;">
            <option id="1">USD</option>
            <option id="2">EUR</option>
            <option id="3">HRK</option>
        </select>

    </div>
    <div style="margin-bottom:10px;position:center;display:inline-block;text-align:center">
        <label for="adultsNumberPicker" style="margin-right:5px;margin-top:2px;">Odrasli (12+):</label>
        <div class="quantity buttons_added border">
            <input type="button" onclick="GetMaxInfants()" value="-" class="minus border"><input id="adultsNumberPicker" type="number" step="1" min="1" name="adultsQuantity" value="1" class="input-text qty text" size="4"><input onclick="GetMaxInfants()" type="button" value="+" class="plus border">
        </div>

        <label for="childrenNumberPicker" style="margin-right:5px;margin-left:10px;margin-top:2px;">Djeca (2-12):</label>
        <div class="quantity buttons_added border">
            <input type="button" value="-" class="minus border"><input id="childrenNumberPicker" type="number" step="1" min="0" name="childrenQuantity" value="0" class="input-text qty text" size="4"><input type="button" value="+" class="plus border">
        </div>

        <label for="infantsNumberPicker" style="margin-right:5px;margin-left:10px;margin-top:2px;">Novorođenčad (0-2):</label>
        <div class="quantity buttons_added border">
            <input onclick="GetMaxInfants()" type="button" value="-" class="minus border"><input id="infantsNumberPicker" type="number" step="1" min="0" name="infantsQuantity" value="0" class="input-text qty text" size="4"><input onclick="GetMaxInfants()" type="button" value="+" class="plus border">
        </div>
    </div>
    <div style="position:relative;float:right;padding-right:10px;margin-bottom:10px;">
        <button style="width:80px;height:30px;padding:0px;" type="submit" class="btn btn-primary" name="search" id="search">Pretraži</button>
    </div>
    <hr class="form-group form-inline" style="margin-top: 10px;" />
</div>

<img src="~/loading.gif" id="reloadGIF" class="center-block" style="position:fixed;top:30%;left:40%;" />
<div id="resultTable">

</div>


<script>
    (function ($) {
        $(function () {
            UpdateElements();
            $("#currencyPicker").multiselect();
            $('#mainDiv').removeAttr("hidden");
        });
    })(jQuery);
</script>

<script>
    function UpdateElements() {
        UpdateAirports();
        UpdateDateRangePicker();
        $('#loadingGIF').hide();
        $('#reloadGIF').hide();
    }
</script>


<script>
    function GetMaxInfants() {
        var infantPicker = document.getElementById("infantsNumberPicker");
        var x = $('#adultsNumberPicker').val();
        infantPicker.setAttribute('max', $('#adultsNumberPicker').val());

    }
</script>
<!--Skripta koja sluzi da se ukljuci checkbox sve stranice ako postoji samo jedna stranica (radi printanja)-->
<script>
    function PageNumberSetup() {
        $('#paginationFlightView').prop('hidden', false);
    }
</script>


<script>
    function UpdateAirports() {
        var deferred = $.Deferred();
        var airportPicker = document.getElementsByClassName("Airport");
         $.ajax({
            url: '@Url.Action("GetCodes", "Home")',
             type: "GET",
             async: false,
             dataType: "json",
             contentType: "application/json;charset=utf-8",
             success: function (result) {
                 var codes = result.list;
                 jQuery.each(airportPicker, function (ID, picker) {
                     $(picker).append($('<option value=""></option>'));
                     jQuery.each(codes, function (ID, code) {
                         $(picker).append($("<option  id=" + code + " value=" + ID + 1 + ">"+code+"</option>"));
                     });
                     $(picker).chosen({
                         placeholder_text_single: "Odaberi...",
                         no_results_text: 'Ne postoje rezultati za '
                     });
                 });
                 deferred.resolve();
             },
             error: function () {
                deferred.resolve(false);
                alert("Nije moguće očitati IATA kodove.");
             }
         });
        return deferred;
    }
</script>

<script>
    function UpdateDateRangePicker() {
        var deferred = $.Deferred();
        var pickers = document.getElementsByClassName("singleDatePickers");
        jQuery.each(pickers, function (ID, picker) {
            $(picker).daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD.MM.YYYY.',
                    daysOfWeek: ["Ned", "Pon", "Uto",
                        "Sri", "Čet", "Pet", "Sub"],
                    monthNames: ["Siječanj", "Veljača", "Ožujak", "Travanj", "Svibanj",
                        "Lipanj", "Srpanj", "Kolovoz", "Rujan", "Listopad", "Studeni", "Prosinac"]
                },
                changeYear: true,
                changeMonth: true,
            });
        });
        deferred.resolve();
        return deferred;
    }
</script>

<script>
    $('.Airport').change(function (event) {
        var picker = event.target.id;
        var optionID = event.target.value;
        //var selectedValue = $("option:selected", this).attr("id");
        if (picker == "departurePicker") {
            jQuery.each($('#destinationPicker option:disabled'), function (ID, option) {
                $('#destinationPicker option[id=' + option.id + ']').prop("disabled", false);
                $('#destinationPicker').trigger("chosen:updated");
            });
            $('#destinationPicker option[value=' + optionID + ']').prop("disabled", true);
            $('#destinationPicker').trigger("chosen:updated");
        }
        else if (picker == "destinationPicker") {
            jQuery.each($('#departurePicker option:disabled'), function (ID, option) {
                $('#departurePicker option[id=' + option.id + ']').prop("disabled", false);
                $('#departurePicker').trigger("chosen:updated");
            });
            $('#departurePicker option[value=' + optionID + ']').prop("disabled", true);
            $('#departurePicker').trigger("chosen:updated");
        }
    });
</script>

<script>
    function Authorization() {
        $.ajax({
            type: "POST",
            url: "https://test.api.amadeus.com/v1/security/oauth2/token",
            async: true,
            data: {
                client_id: 'ziNgGPngYI6YlCGOeCotNmrmtc3qgQ9u',
                client_secret: '6qhAhXXbPYA2sbkR',
                grant_type: 'client_credentials'
            },
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                GetData(result.access_token);
            },
            error: function (error) {
                alert("Greška u autorizaciji.")
            }
        });
    }
</script>



<script>
    $('#search').click(function (e) {
        Authorization();
        $('#reloadGIF').show();
        $('#resultTable').hide();

    });
</script>

<script>
    function FindData() {
        var departureDateTemp = $('#departureDatePicker').val().slice(0, -1).toString().split('.');
        var departureDate = departureDateTemp[2] + "-" + departureDateTemp[1] + "-" + departureDateTemp[0];
        var destinationDateTemp = $('#destinationDatePicker').val().slice(0, -1).toString().split('.');
        var returnDate = destinationDateTemp[2] + "-" + destinationDateTemp[1] + "-" + destinationDateTemp[0];

        var url = "https://test.api.amadeus.com/v2/shopping/flight-offers?" +
            $.param({
                originLocationCode: $('#departurePicker option:selected').text(),
                destinationLocationCode: $('#destinationPicker option:selected').text(),
                departureDate: departureDate,
                returnDate: returnDate,
                currencyCode: $('#currencyPicker').val(),
                adults: $('#adultsNumberPicker').val(),
                children: $('#childrenNumberPicker').val(),
                infants: $('#infantsNumberPicker').val()
            });
        var compareURL = url.split('?').pop();
        debugger;
        $.ajax({
            async: false,
            type: "GET",
            url: '@Url.Action("FindJSON", "Home")',
            data: {
                'url': compareURL
            },
            success: function (jsonResult) {
                debugger;
            },
            error: function (error) {
                alert("Dogodila se greška tokom dohvaćanja json datoteku.")
            }
        });

        //ako ne postoji zapis, vrati url,
        //ako postoji rezultat, ShowData(jsonZapis)

    }
</script>


<script>
    function GetData(amadeusAccessToken) {
       // var start_time = new Date().getTime();

       //ovdje treba dohvatiti URL ili json zapis
        var url = FindData();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + amadeusAccessToken);
            },
            url: url,
            success: function (jsonResult) {
                //download JSON file
                //DownloadJSON(jsonResult);
                SaveResultJSON(jsonResult);
                var flightData = new Array();
                jQuery.each(jsonResult.data, function (ID, flightRecord) {
                    flightData.push({
                        departureAirport: flightRecord.itineraries[0].segments[0].departure.iataCode,
                        destinationAirport: flightRecord.itineraries[1].segments[0].departure.iataCode,
                        departureDateTime: flightRecord.itineraries[0].segments[0].departure.at,
                        destinationDateTime: flightRecord.itineraries[1].segments[0].departure.at,
                        transferNumberDeparture: flightRecord.itineraries[0].segments.length - 1,
                        transferNumberArrival: flightRecord.itineraries[1].segments.length - 1,
                        currency: flightRecord.price.currency,
                        totalCost: parseFloat(flightRecord.price.grandTotal),
                        passagers: flightRecord.travelerPricings.length
                    });
                });
                //var request_time = new Date().getTime() - start_time;
                //request_time = Math.floor((request_time % 6e4) / 1000);
                //alert(request_time);
                ShowData(flightData);


            },
            error: function (e) {
                alert("Nije moguće filtrirati po zadanim parametrima.");
                $('#reloadGIF').hide();
            }
        });
    }
</script>

<script>
    function ShowData(flightData) {
        $.ajax({
            url: '@Url.Action("FilterData", "Home")',
            type: "POST",
            async: true,
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ flightList: flightData }),
            success: function (flightView) {
                PageNumberSetup();
                $('#resultTable').html(flightView);
                $('#reloadGIF').hide();
                $('#resultTable').show();
            },
            error: function (e) {
                alert("Dogodila se greška tokom prikaza podataka.");
                $('#reloadGIF').hide();
            }
        });
    }
</script>


<script>
    function DownloadJSON(jsonResult) {
        const filename = 'data.json';
        const jsonStr = JSON.stringify(jsonResult.data);
        let element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(jsonStr));
        element.setAttribute('download', filename);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }
</script>

<script>
    function SaveResultJSON(jsonResult) {
        //JSON.stringify({ data: JSON.stringify(jsonResult), link: jsonResult.meta.links.self })
        $.ajax({
            url: '@Url.Action("SaveJSON", "Home")',
            type: "POST",
            data: JSON.stringify({ data: JSON.stringify(jsonResult) }),
            dataType:"json",
            contentType: "application/json",
            success: function (result) {
                debugger;
            },
            error: function (error) {
                alert("Greška u spremanju .json rezultata.")
            }
        });
    }
</script>


