@{
    ViewBag.Title = "Home Page";
}

<div id="mainDiv" style="position:center">    
    <div style="margin-bottom: 20px;">
        <label style="margin-right:5px;">Polazni aerodrom:</label>
        <select class="Airport" style="display:inline-block; width:70px;" id="departurePicker"></select>

        <label style="margin-left:10px;">Polazak:</label>
        <input type="text" name="departureDatePicker" id="departureDatePicker" class="form-control singleDatePickers" style="width:100px; display:inline-block" />

        <label style="margin-right:5px;margin-left:10px;">Odredišni aerodrom:</label>
        <select class="Airport" style="display:inline-block; width:70px;margin-left:10px;" id="destinationPicker"></select>

        <label style="margin-left:10px;">Povratak:</label>
        <input type="text" name="destinationDatePicker" id="destinationDatePicker" class="form-control singleDatePickers" style="width:100px;display:inline-block" />

        <label style="margin-left:10px;">Putnici:</label>
        <select type="text" id="passagerNumberPicker" class="form-control">
            <option id="1">10</option>
            <option id="2">20</option>
            <option id="3">30</option>
        </select>

        <label style="margin-left:10px;">Valuta:</label>
        <select type="text" id="currencyPicker" class="form-control">
            <option id="1">USD</option>
            <option id="2">EUR</option>
            <option id="3">HRK</option>
        </select>
        <button style="width:80px;margin-left:10px;" type="submit" class="btn navbar-btn btn-primary" name="search" id="search" value="search">Pretraži</button>
    </div>
    <hr />
    <div id="resultTable">
    </div>
</div>


<script>
    (function ($) {
        $(function () {
            $("#passagerNumberPicker").multiselect({
                buttonWidth: '55px'
            });
            $("#currencyPicker").multiselect({
                buttonWidth: '65px'
            }); 
            UpdateAirports();
            UpdateDateRangePicker();
            
        });
        $(function () {
            //$('#mainDiv').show();
            //$('#loadingGIF').hide();
        });
        })(jQuery);
</script>


<script>
    function UpdateAirports() {
        var airportPicker = document.getElementsByClassName("Airport");
         $.ajax({
            url: '@Url.Action("GetCodes", "Home")',
             type: "GET",
             async: false,
             dataType: "json",
             contentType: "application/json;charset=utf-8",
             success: function (result) {
                 var codes = result.list;
                 jQuery.each(airportPicker, function (ID, picker) {
                     jQuery.each(codes, function (ID, code) {
                         $(picker).append($("<option  id=" + code + " value=" + ID + 1 + ">"+code+"</option>"));                 
                     });
                     $(picker).chosen();
                 });   
            },
            error: function () {
                alert("Nije moguće očitati IATA kodove.");
            }
         });
        
    }
</script>

<script>
    function UpdateDateRangePicker() {
        var pickers = document.getElementsByClassName("singleDatePickers");
        jQuery.each(pickers, function (ID, picker) {
            $(picker).daterangepicker({
                singleDatePicker: true,
                locale: {
                    //format: 'DD.MM.YYYY.',
                    format: 'YYYY-MM-DD',
                    daysOfWeek: ["Ned", "Pon", "Uto",
                        "Sri", "Čet", "Pet", "Sub"],
                    monthNames: ["Siječanj", "Veljača", "Ožujak", "Travanj", "Svibanj", "Lipanj", "Srpanj", "Kolovoz", "Rujan", "Listopad", "Studeni", "Prosinac"]
                },
                changeYear: true,
                changeMonth: true
            });
        });
    }
</script>

<script>
    $('#search').click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "https://test.api.amadeus.com/v1/security/oauth2/token",
            async: true,
            data: {
                client_id: 'ziNgGPngYI6YlCGOeCotNmrmtc3qgQ9u',
                client_secret: '6qhAhXXbPYA2sbkR',
                grant_type: 'client_credentials'
            },
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                var amadeusAccessToken = result.access_token;
                $.ajax({
                    type: "GET",
                    dataType:'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + amadeusAccessToken);
                    },
                    url: "https://test.api.amadeus.com/v2/shopping/flight-offers?" +
                       $.param({
                            originLocationCode: $('#departurePicker option:selected').text(),
                            destinationLocationCode: $('#destinationPicker option:selected').text(),
                            departureDate: $('#departureDatePicker').val(),
                            returnDate: $('#destinationDatePicker').val(),
                            adults: 1,
                            max: 10
                            
                       }),
                    success: function (jsonResult) {
                        var flightData = new Array();
                       /* jsonResult = Object.keys(jsonResult)
                            .reduce((res, key) => Object.assign(res, jsonResult[key]), {});
                        debugger;*/
                        jQuery.each(jsonResult.data, function (ID, flightRecord) {
                            var flight = {
                                departureAirport: $('#departurePicker option:selected').text(),
                                departureDate: $('#departureDatePicker').val(),
                                destinationAirport: $('#destinationPicker option:selected').text(),
                                returnDate: $('#destinationDatePicker').val(),
                                transferNumberDeparture: flightRecord.itineraries.length-1,
                                transferNumberArrival: 0,
                                passagers: flightRecord.numberOfBookableSeats,
                                currency: $('#currencyPicker').val(),
                                totalCost: parseFloat(flightRecord.price.total)
                            };
                            flightData.push(flight);
                        });
                        $.ajax({
                            url: '@Url.Action("FilterData", "Home")',
                            type: "POST",
                            async: true,
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify({ flightList: flightData }),
                            success: function (flightView) {
                                $('#resultTable').html(flightView);
                            },
                            error: function (e) {
                                debugger;
                                alert("Dogodila se greška tokom prikaza podataka.");
                            }
                        });
                    },
                    error: function (e) {
                        alert("Nije moguće filtrirati po zadanim parametrima.");
                    }
                });
            },
            error: function (error) {
                alert("Nije moguće pristupiti servisu za autorizaciju.");
            }
        });
    });
</script>

